node_modules/
dist/
coverage/
.tmp/
.DS_Store
*.tsbuildinfo

app/client/node_modules/
app/client/dist/
app/client/.env

app/server/node_modules/
app/server/dist/
app/server/.env

.env
steps/
пример-фронт/
.vscode/
